<!DOCTYPE html>
<html lang="en">
	<head>
		<% include common/header %>
	</head>
	<body>
		<% include common/nav %>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 page-header text-center">
                    <h1>Header</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Page Content
                    </p>
                </div>
            </div>
        </div> <!-- /.container -->

        <% include common/footer %>
	</body>
</html>
