<footer class="footer">
  <div class="container">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/members">Members</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
    <div class="">
      <p class="text-muted">
      The Future Blue Web Team <a href="/">Internal Web Page</a>
    </p>
    </div>
  </div>
</footer>

<script src="js/jquery-1.12.4.min.js"></script> <!-- jQuery Version 1.12.4 -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap Core JavaScript -->
